/* Results Section */
.results-container {
    padding: 20px;
    background-color: var(--form-bg, white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.results-grid {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    gap: 0;
    align-items: center;
}

.label {
    text-align: right;
}

.colon {
    text-align: center;
}

.value {
    text-align: left;
    font-weight: bold;
}